* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Ubuntu;
   font-size: 16px;
}
.content {
   width: 1280px;
   margin: 0 auto;
}
ul, ol {
   list-style: none;
}
a {
   text-decoration: none;
   cursor: pointer;
   color: #000;
}
button {
   cursor: pointer;
}