.wrapper {
   background-image: url("../image/main_bg.png");
   background-repeat: no-repeat;
   background-size: cover;
   width: 100vw;
   height: 100vh;
}
.header {
   background-color: rgba(0, 0, 0, .4);
   height: 58px;
}
.header_content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}
.header_logo {
   color: #fff;
   font-size: 22px;
   font-weight: 700;
   line-height: 22px;
   transition: .3s;
}
.header_logo:hover {
   color: rgba(1, 120, 80, 1);
}

.navbar {
   display: flex;
   align-items: center;
}
.navbar_menu {
   display: flex;

}
.navbar_menu-list {
   padding-right: 24px;
}

.navbar_menu-link svg g path {
   transition: .3s;
}
/* header__icon-color */
.navbar_menu-link:hover svg g path { 
   fill: rgba(1, 120, 80, 1);
}


.login_menu-list {
   padding-left: 27px;
   border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.login_menu-list,
.login_menu-link {
   color: #fff;
   transition: .3s;
}
.login_menu-link:hover {
   color: rgba(1, 120, 80, 1);
}


.main {
   width: 100%;
   height: calc(100% - 58px);
   display: flex;
   justify-content: center;
   align-items: center;
}
.form {
   width: 444px;
   height: 584px;
   background-color: #fff;
   padding: 31px 61px;
   position: relative;
}
.form::before {
   content: "";
   position: absolute;
   left: 0;
   top: 32px;
   width: 18px;
   height: 18px;
   background-color: #3CB878;
}
.form_content {
   width: 323px;
   margin: 0 auto;
}


.authorisation_block-texts {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 15px;
}
.singup_text {
   color: #434343;
   font-size: 20px;
   line-height: 20px;
}
.login_text {
   color: #3CB878;
   font-size: 14px;
   line-height: 14px;
   position: relative;
   transition: .3s;
}
.login_text:hover {
   color: #01813F;
}
.login_text::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: -2px;
   width: 100%;
   border-bottom: 1px solid #01813F;
   opacity: 0;
   transform: scaleX(0);
   transition: .3s;
}
.login_text:hover::after {
   transform: scaleX(1);
   opacity: 1;
}

.authorisation_block-buttons {
   display: flex;
   justify-content: space-between;
}
.authorisation_button {
   width: 160px;
   height: 48px;
   border-radius: 4px;
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.facebook_button {
   position: relative;
   background-color: #305DB8;
   border: 1px solid #305DB8;
   transition: .3s;
}
.facebook_button::before {
   content: "";
   position: absolute;
   left: 12px;
   top: 10px;
   background-image: url("../image/F.svg");
   width: 24px;
   height: 24px;
}
.facebook_button:hover {
   background-color: #022263;
   border: 1px solid #022263;
}
.facebook-text {
   display: block;
   width: fit-content;
   padding: 3px 20px;
   margin-left: auto;
   border-left: 1px solid rgba(10, 22, 47, 0.1);
}


.google_button {
   position: relative;
   background-color: #DF4A32;
   border: 1px solid #DF4A32;
   transition: .3s;
}
.google_button:hover {
   background-color: #AB1F09;
   border: 1px solid #AB1F09;
}
.google_button::before {
   content: "";
   position: absolute;
   left: 12px;
   top: 14px;
   background-image: url("../image/G+.svg");
   width: 30px;
   height: 19px;
}
.google-text {
   display: block;
   width: fit-content;
   padding: 3px 28px;
   margin-left: auto;
   border-left: 1px solid rgba(43, 13, 9, 0.1)
}

.line {
   text-align: center;
   color: #848484;
   font-size: 14px;
   line-height: 14px;
   margin-top: 31px;
   position: relative;
   margin-bottom: 12px;
}
.line:before {
   content: "";
   border-top: 1px solid #F2F2F2;
   width: 150px;
   position: absolute;
   left: 0;
   top: 7px;
}
.line:after {
   content: "";
   border-top: 1px solid #F2F2F2;
   width: 150px;
   position: absolute;
   right: 0;
   top: 7px;
}

.input_style {
   width: 100%;
   height: 45px;
   padding: 15px 19px;
   font-size: 14px;
   line-height: 14px;
   border-radius: 4px;
   border: 1px solid #F2F2F2;
   color: #434343;
   outline: none;
   margin-bottom: 15px;
}
.input_style::placeholder {
   color: #BEBEBE;
   font-size: 14px;
   line-height: 14;
}
.input_style:focus {
   box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
   border: none;
}

#checkbox {
   display: none;
}
.fakebox {
   position: relative;
   font-size: 14px;
   color: #434343;
   margin-left: 28px;

}
.fakebox_link {
   font-size: 14px;
   color: #3CB878;
   position: relative;
   transition: .3s;
}
.fakebox_link:hover  {
   color: #01813F;
}
.fakebox_link::after {
   content: "";
   position: absolute;
   width: 100%;
   left: 0;
   bottom: -3px;
   border-bottom: 1px solid #01813F;
   opacity: 0;
   transition: .3s;
   transform: scaleX(0);
}
.fakebox_link:hover::after {
   opacity: 1;
   transform: scaleX(1);
}
.fakebox::before {
   content: "";
   width: 20px;
   height: 20px;
   position: absolute;
   left: -28px;
   top: -2px;
   border: 1px solid #F2F2F2;
}
.fakebox::after {
   content: "";
   background-image: url("/image/vector.svg");
   background-repeat: no-repeat;
   width: 20px;
   height: 20px;
   position: absolute;
   left: -24.5px;
   top: 0;
   opacity: 0;
}
#checkbox:checked + .fakebox::after {
   opacity: 1;
}


.registration_button {
   width: 100%;
   height: 46px;
   line-height: 16px;
   color: #fff;
   border-radius: 4px;
   border: 1px solid #3CB878;
   background-color: #3CB878;
   margin-top: 20px;
   transition: .3s;
}
.registration_button:hover {
   border: 1px solid #01813F;
   background-color: #01813F;
}